<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="edu.scoe.wss.web.editors.MultiPageEditorContributor"
            class="edu.scoe.wss.web.editors.MultiPageEditor"
            id="web.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.scoe.wss.web.view.category"
            name="Web Surfer Suite">
      </category>
      <view
            category="edu.scoe.wss.web.view.category"
            class="edu.scoe.wss.web.internal.views.FacebookViewPart"
            icon="icons/fb.png"
            id="web.view.facebook"
            name="Facebook"
            restorable="true">
      </view>
      <view
            category="edu.scoe.wss.web.view.category"
            class="edu.scoe.wss.web.internal.views.TwitterViewPart"
            icon="icons/twitter16.png"
            id="web.view.twitter"
            name="Twitter"
            restorable="true">
      </view>
      <view
            category="edu.scoe.wss.web.view.category"
            class="edu.scoe.wss.web.internal.views.BrowserViewPart"
            icon="icons/firefox-icon-16x16.png"
            id="web.view.browser"
            name="Internet Browser"
            restorable="true">
      </view>
      <view
            category="edu.scoe.wss.web.view.category"
            class="edu.scoe.wss.web.internal.views.BookmarkViewPart"
            icon="icons/bookmark.png"
            id="web.view.bookmark"
            name="Bookmark"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.scoe.wss.web.perspective.WebSurferPerspectiveFactory"
            icon="icons/1301899927_netscape.png"
            id="edu.scoe.wss.web.perspective"
            name="Web Surfer Perspective">
         <description>
            Perspective for surfing the web with the common widgets
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:web.view.twitter">
         <command
               commandId="edu.scoe.wss.web.twitter.login"
               icon="icons/login.png"
               label="Login"
               style="push">
         </command>
         <command
               commandId="edu.scoe.wss.web.twitter.refresh"
               icon="icons/refresh16.png"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:web.view.facebook">
         <command
               commandId="edu.scoe.wss.web.facebook.login"
               icon="icons/login.png"
               label="Login"
               style="push">
         </command>
         <command
               commandId="edu.scoe.wss.web.facebook.refresh"
               icon="icons/refresh16.png"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:web.view.browser">
         <command
               commandId="edu.scoe.wss.web.browser.refresh"
               icon="icons/refresh16.png"
               label="Refresh"
               style="push">
         </command>
         <command
               commandId="edu.scoe.wss.web.browser.stop"
               icon="icons/stop-icon.png"
               label="Stop"
               style="push">
         </command>
         <command
               commandId="edu.scoe.wss.web.browser.back"
               icon="icons/left1.png"
               label="Back"
               style="push">
         </command>
         <command
               commandId="edu.scoe.wss.web.browser.forward"
               icon="icons/right1.png"
               label="Forward"
               style="push">
         </command>
         <command
               commandId="edu.scoe.wss.web.browser.bookmark"
               icon="icons/bookmark.png"
               label="Bookmark"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:web.view.bookmark">
         <command
               commandId="edu.scoe.wss.web.bookmark.refresh"
               icon="icons/refresh16.png"
               label="Refresh Bookmarks"
               style="push">
         </command>
         <command
               commandId="edu.scoe.wss.web.bookmark.clear"
               icon="icons/1301899467_edit-clear.png"
               label="Clear All Bookmarks"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="edu.scoe.wss.web.twitter.category"
            id="edu.scoe.wss.web.twitter.refresh"
            name="Refresh Timelines">
      </command>
      <category
            id="edu.scoe.wss.web.twitter.category"
            name="Twitter Commands Category">
      </category>
      <command
            category="edu.scoe.wss.web.twitter.category"
            id="edu.scoe.wss.web.twitter.login"
            name="Login">
      </command>
      <category
            id="edu.scoe.wss.web.facebook.category"
            name="Facebook Commands Category">
      </category>
      <command
            categoryId="edu.scoe.wss.web.facebook.category"
            id="edu.scoe.wss.web.facebook.refresh"
            name="Refresh Updates">
      </command>
      <command
            category="edu.scoe.wss.web.facebook.category"
            id="edu.scoe.wss.web.facebook.login"
            name="Login">
      </command>
      <category
            id="edu.scoe.wss.web.browser.category"
            name="Internet Browser Commands Category">
      </category>
      <command
            categoryId="edu.scoe.wss.web.browser.category"
            id="edu.scoe.wss.web.browser.back"
            name="Back">
      </command>
      <command
            categoryId="edu.scoe.wss.web.browser.category"
            id="edu.scoe.wss.web.browser.forward"
            name="Forward">
      </command>
      <command
            categoryId="edu.scoe.wss.web.browser.category"
            id="edu.scoe.wss.web.browser.refresh"
            name="Refresh">
      </command>
      <command
            categoryId="edu.scoe.wss.web.browser.category"
            id="edu.scoe.wss.web.browser.stop"
            name="Stop">
      </command>
      <command
            categoryId="edu.scoe.wss.web.browser.category"
            id="edu.scoe.wss.web.browser.bookmark"
            name="Bookmark">
      </command>
      <category
            id="edu.scoe.wss.web.bookmark.category"
            name="Bookmark Commands Category">
      </category>
      <command
            categoryId="edu.scoe.wss.web.bookmark.category"
            id="edu.scoe.wss.web.bookmark.refresh"
            name="Refresh Bookmarks">
      </command>
      <command
            categoryId="edu.scoe.wss.web.bookmark.category"
            id="edu.scoe.wss.web.bookmark.clear"
            name="Clear All Bookmarks">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="edu.scoe.wss.web.internal.twitter.impl.RefreshTwitterViewAction"
            commandId="edu.scoe.wss.web.twitter.refresh">
      </handler>
      <handler
            class="edu.scoe.wss.web.internal.twitter.impl.TwitterLoginHandler"
            commandId="edu.scoe.wss.web.twitter.login">
      </handler>
      <handler
            class="edu.scoe.wss.web.internal.facebook.impl.FacebookLoginHandler"
            commandId="edu.scoe.wss.web.facebook.refresh">
      </handler>
      <handler
            class="edu.scoe.wss.web.internal.facebook.impl.FacebookLoginHandler"
            commandId="edu.scoe.wss.web.facebook.login">
      </handler>
      <handler
            class="edu.scoe.wss.web.internal.browser.impl.ForwardHandler"
            commandId="edu.scoe.wss.web.browser.forward">
      </handler>
      <handler
            class="edu.scoe.wss.web.internal.browser.impl.BackHandler"
            commandId="edu.scoe.wss.web.browser.back">
      </handler>
      <handler
            class="edu.scoe.wss.web.internal.browser.impl.StopHandler"
            commandId="edu.scoe.wss.web.browser.stop">
      </handler>
      <handler
            class="edu.scoe.wss.web.internal.browser.impl.BookmarkHandler"
            commandId="edu.scoe.wss.web.browser.bookmark">
      </handler>
      <handler
            class="edu.scoe.wss.web.internal.browser.impl.RefreshHandler"
            commandId="edu.scoe.wss.web.browser.refresh">
      </handler>
      <handler
            class="edu.scoe.wss.web.internal.bookmark.impl.RefreshBookmarkHandler"
            commandId="edu.scoe.wss.web.bookmark.refresh">
      </handler>
      <handler
            class="edu.scoe.wss.web.internal.bookmark.impl.clearBookmarkHandler"
            commandId="edu.scoe.wss.web.bookmark.clear">
      </handler>
   </extension>

</plugin>
